.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: $primary-color;
  position: fixed;
  top: 0;
}

.header__title {
  font-size: 2.5em;
  color: $secondary-color;

  @include break-point(tablet) {
    font-size: 2em;
  }

  @include break-point(mobile) {
    font-size: 1.5em;
  }
}

.mobile-nav__trigger {
  @include break-point(desktop) {
    display: none;
  }
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background: none;
  color: $secondary-color;
}
