button {
  background: none;
  border: none;
}

.button {
  padding: 1.5rem 2rem;
  font-size: 1.75rem;
}

.button-primary {
  background-color: $primary-color;
  color: $white;
}

.button-secondary {
  border: 2px solid $primary-color;
  color: $primary-color;
}

.button-right-wrapper {
  display: flex;
  justify-content: flex-end;
}
