fieldset {
  border: none;
  padding: 0;
}

label {
  display: block;
  width: auto;
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 1rem;
  display: block;
}

.form-card {
  display: inline-block;
  padding: 1rem;
  border: 1px solid $accent-color;

  h3 {
    margin-top: 0;
  }

  @include break-point(mobile) {
    width: 100%;

    input {
      width: 100%;
    }
  }
}
