fieldset {
  border: none;
  padding: 0;
  &[disabled] {
    opacity: 0.5;
  }
}

label {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  color: $primary-color;
  font-size: 1.25em;
}

input,
textarea {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  border: 2px solid $primary-color;
  border-radius: 3px;
  margin-top: 0.5em;
}

input {
  height: 2em;
  padding: 0.5em;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

textarea {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  border: 2px solid $primary-color;
  border-radius: 3px;
}

form {
  width: 100%;
}

.form-input-pairing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include break-point(mobile) {
    display: block;
  }
}

.ingredient-row {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  @include break-point(mobile) {
    display: block;
  }
}

.ingredient-row__remove-button {
  display: flex;
  align-items: center;
  button {
    width: 100%;
    // height: 50px;
  }
  margin-bottom: 5px;
}

.instruction-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
  @include break-point(mobile) {
    display: block;
  }
}

.instruction-row__remove-button {
  display: flex;
  align-items: center;
  button {
    width: 100%;
    // height: 50px;
  }
  margin-bottom: 5px;
}

.recipe-form__submit {
  margin: 1em 0;
}

.image-dropzone {
  border: 2px dashed $primary-color;

  p {
    margin: 1em;
  }
}

.recipe-form__image {
  text-align: center;
  img {
    width: 50%;
    margin: 1em auto;
    max-width: 100%;
    @include break-point(mobile) {
      width: 100%;
    }
  }
}
