* {
  box-sizing: border-box;
}

@import 'variables';
@import 'typography';
@import 'Header';
@import 'Nav';
@import 'forms';
@import 'buttons';
@import 'Page';

// Page styles
// ******************************************
.page-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.page-header {
  margin: 1em 0;
}

.page-header__title {
  font-size: 2em;
}

// Account Page
// ******************************************

// Error Component
// ******************************************
.error-message-container {
  width: 100%;
  padding: 0.15em;
  margin: 1.5em 0;
  border-left: 3px solid $red;
  background: rgba($red, 0.2);
  p {
    font-size: 1.1em;
    padding-left: 1em;
    color: #000;
  }
}
