// Colors
$dark-blue: #11144c;
$teal: #3a9679;
$yellow: #fabc60;
$salmon: #e16262;
$white: #fff;
$dark-grey: #5e5e5e;
$red: #f22b2b;
$dark-grey: #262626;
$light-grey: #bababa;

$primary-color: $dark-blue;
$secondary-color: $yellow;
$accent-color: $yellow;
$primary-accent: $teal;
$primary-body: $dark-grey;
$body-background: #f7f7ff;

// Breakpoints
$mobile: 500px;
$tablet-up: 501px;
$tablet: 800px;
$desktop: 801px;

// Media Queries
@mixin break-point($size) {
  @if $size == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  } @else if $size == tablet-up {
    @media (min-width: $tablet-up) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

@mixin shadow-styles {
  box-shadow: 1px 1px 3px rgba($light-grey, 0.3);
}

@mixin card-styles {
  background: $white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba($light-grey, 0.3);
  overflow: hidden;
}
